 <div class="container">
    <div class="row">
        <div class="col"></div>
      <div class="col"><h3>Login</h3>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input  [(ngModel)] = "credential.username" name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input [(ngModel)] = "credential.password" name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit"  class="btn btn-secondary" (click)="reset()">Reset</button>
            <button style="margin-left:10px;"  type = "submit" (click)="onSubmit()" class="btn btn-secondary">Submit</button>
          </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
